/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
    background-size: cover;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  max-width:: 100%;
  text-align: center;
  background-position: center;
  background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
  background-size: cover;
}

#container, #benefits {
height: 350px;
}

#benefits {
  width: 100%;
  background-color: #f0efef;
  display: block;
}

#testimonials {
  width: 100%;
  background: url(../images/testimonial_bg.jpg) no-repeat center top rgb(134,141,157);
  height: 300px;
  background-size: cover;
  color: white;
  text-align: center;
  display: block;
  font-size: 20px;

}

#yellow-area {
  width: 100%;
  height: 120px;
  display: block;
  background-color: #f9e42e;
  text-align: center;
  
}

footer {
  width: 100%;
  background-color: #121212;
  height: auto;
  text-align: center;
  padding: 40px;
}

footer, body {
  background-color: #121212;
}

footer, p {
  color: white;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.logo, .logo-2 {
  font-size: 40px;
  font-weight: 600;
  color: white;
  padding: 10px;
  margin: 0px 20px 20px 40px;
}

.logo {
  text-align: left;
}

.logo-2 {
  text-align: center;
  color: yellow;
  margin: 0px 0px 20px 0px;

}


.slogan {
  font-size: 24px;
  text-align: center;
  color: white;
}

.cta-1, .cta-2 {
  font-size: 20px;
  font-weight: 550;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
  background-color: yellow;
  margin: 30px;
  padding: 15px;
  width: 250px;
  text-align: center;
}

.cta-1 {
  color: black;
  background-color: yellow;
}

.cta-2 {
  color: white;
  background-color: #033048;
}

.benefits-header {
  margin: 50px 20px 10px 40px;
  display: inline-block;
}

.benefits-header, .benefits-body {
  font-size: 20px;
}

.benefits-body {
  font-weight: lighter;
  margin: 10px 20px 10px 40px;
  
}


.bullets {
  font-size: 20px;
  margin: 20px 20px 10px 40px;

}

.bullets li {
  display: block;
  font-weight: lighter;

}

.quote {
  font-style: italic;
  font-weight: lighter;
  padding-top: 125px;
}

.amanda {
  font-weight: 600;
  padding: 5px;
}

.social {
  display: inline-block;
  text-align: center;
  margin: 0 0 50px 0;
  padding: 0 30px 0 20px;
}




