/*
Project Name: BrineBuddy.com -- Final Project Outline
Client: BrineBuddy
Author: Simon Mullin
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* TESTING OUTLINE STYLES
/*******************************************/

body{
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #FFF0F5;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /*border-bottom: 1px solid;*/
}

.header-logo {
  width: 20%;
  padding: 10px;
}

.header-nav li,
.main_footer_aside_nav li {
  display: inline-block;
  margin: 20px 40px 10px 40px;
  text-decoration: none;
}

.main_primary {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;

}

.main_featured-content {
  background-color: #ADFF88;
  width: 50%;
  height: 500px;
  margin: 20px 40px 10px 40px;
  text-align: center;
}

.main_featured-content .slick-slide {
     background-color: #ADFF88;
  width: 50%;
  height: 500px;
  margin: 20px 40px 10px 40px;
  text-align: center;
  }

.main_aside {
  background-color: #C8F866;
  width: 25%;
  margin: 20px 40px 10px 40px;
}

.main_aside_right {
  background-color: #C8F866;
  width: 25%;
  margin: 20px 40px 10px 40px;
}


.main_about {
/*  background-color: #96FFB0;
*/ text-align: center;
  margin: 20px 40px 10px 40px;
  height: auto;
  border-bottom: 1px solid;
}

.main_about h2 {
  font-size: 30px;
  text-align: center;
}

.main_about p {
  font-size: 20px;
}

.main_recipes_hed {
  margin: 20px 40px 10px 40px;
  border-bottom: 1px solid;
}

.main_recipes_hed h2 {
  text-align: center;
  font-size: 30px;
}


.main_recipes_pickle-links,
.main_recipes_pickle-links_hidden {
  display: flex;
  justify-content: space-between;
  width: auto%;
  margin: 0 50px 0 50px;

}


.main_recipes_pickle-links a {
  width: 250px;
  height: 250px;
  padding: 10px;
  margin: 10px;
/*  background-color: #9BF8DE;
*/}

.main_recipes_pickle-links_hidden {
  display: flex;
  justify-content: space-between;
}

.main_recipes_pickle-links_hidden a {
  display: inline-block;
  width: 250px;
  height: 250px;
  padding: 10px;
  margin: 10px;
/*  background-color: #9BF8DE;
*/}

.main_recipes_ctas {
  padding: 10px;
  text-align: center;
}

.main_recipes_cta-2 {
  float: right;
}

.main_recipes_cta-see-less {
  display: none;
}


footer {
  text-align: center;
  background-color: #D1FF34;
  margin: 20px 40px 10px 40px;
}

footer ul {
  list-style: none;
}

footer a {
  text-decoration: none;
}



/******************************************
/* MOBILE STYLES
/*******************************************/

@media screen and (max-width: 480px) {
    body {
        background-color: #ffffff;
    }

    header {
      background-color: #96FFB0;
      position: fixed;
      top: 0 ;
      padding-bottom: 10px;
      border-bottom: 1px solid;
    }

    .header-nav {
      min-width: auto;
     display: -webkit-flex;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   /* You can set flex-wrap and flex-direction individually */
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   /* Or do it all in one line with flex flow */
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   /* tweak the where items line up on the row */
   /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
   -webkit-align-content: flex-end;
   align-content: flex-end;
   font-size: 14px;
    }

    .header-logo {
      font-size: 16px;
    }

    .header-nav a {
      width: 100px;
    }

    .header-nav a:nth-child(6) {
      color: red;
      order: 1;
    }

    .brine-buddy-logo {
}

    .main_recipes_pickle-links,
    .main_recipes_pickle-links_hidden,
    .main_primary {
     display: flex;
     -webkit-flex-direction: column;
      flex-direction: column;
    }

    .main_featured-content {
      max-height: 300px;
      width: calc(90% - 40px);
      order: 1;
    }

    .recipes_recipes_hed,
    .main_featured-content {
      margin-top: 130px;

    }

    .main_aside,
    .main_aside_right {
      background-color: #C8F866;
      width: calc(90% - 40px);
      min-height: 300px;
    }

    .main_aside {
      order: 2;
      display: none;
    }

    .main_aside_right {
      order: 3;
    }

    .main_about h2 {
      font-size: 28px;
      text-align: center;
}

    .main_about p {
      font-size: 22px;
}

    .main_recipes_hed h2 {
        font-size: 24px;
}    

    .main_footer_aside_nav {
      display: none;
    }

}

/******************************************
/* IMAGE STYLES
/*******************************************/

.brine-buddy-logo {
 width: 80%;
 height: 80%;
}


.pickle-recipe-image  {
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  box-shadow: 5px 5px 5px gray;
}

.pickle-recipe-image:hover {
  opacity: .5;
}

.pickle-gifs {
  max-height: 200px;
}